<div class="p-35">
    <section class="p35-s1 lightYellow-background">
        <h3 class="titlu-repere orange">
            <span class="iconita">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-labelledby="okIconTitle" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#fff"> 
                <polyline points="4 13 9 18 20 7"/> 
                </svg>
            </span>
            Repere</h3>
        <div class="p-1">
            <div class="flex">
                <p><span class="orange">Triftongul</span> este grupul de sunete alcătuit dintr-o vocală și două semivocale pronunțate în aceeași silabă.</p>
                <div class="creioane"><img src="/assets/images/lb-romana/p35_creioane.png"></div>
            </div>
            <p>Grupurile de litere <i>ce, ci, ge, gi, che, chi, ghe, ghi,</i> atunci când se află înaintea unei vocale, nu formează, de obicei, triftongi. De exemplu, în a doua silabă a cuvântului <i>strângeau</i> (<i>-geau</i>) există consoana [ğ], vocala [a] și semivocala [ŭ], ceea ce înseamnă că grupul [aŭ] alcătuiește un diftong.</p>
            <p>Pronumele personale eu și ei se pronunță cu triftong, [ĭeŭ], respectiv [ĭeĭ].</p>
            <p>Pentru identificarea diftongilor și triftongilor este necesară despărțirea în silabe a cuvintelor sau a gru- purilor de cuvinte. Uneori, în aceeași silabă intră cuvinte diferite, legate prin cratimă. Astfel, cuvintele <i>mi-a</i> (<i>mi-a adus</i>) pronunțate împreună formează un diftong, iar cuvintele ne-au (<i>ne-au adus</i>) pronunțate împreună formează un triftong.</p>
        </div>
    </section>
    <h4 class="turquoise titlu-small m-t-2">Hiatul</h4>
    <section class="p35-s2">
        <h5 class="turquoise titlu-iconita"> 
            <span class="iconita">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0"  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g>
                        <circle fill="#231F20" cx="32" cy="32" r="4"/>
                        <path fill="#231F20" d="M32,0C14.328,0,0,14.328,0,32s14.328,32,32,32s32-14.328,32-32S49.672,0,32,0z M40,40l-22,6l6-22l22-6   L40,40z"/>
                    </g>
                </svg>
            </span>Explorare</h5>
        <ol class="turquoise">
            <li>Ce sunete transcriu literele marcate colorat în cuvântul <i>uriaș</i>, vocale sau semivocale?<strong class="highlight lightYellow-background p-x-2 p-y-1">u-r<span class="red">i</span>-<span class="red">a</span>ș</strong></li>
            <li>Precizează ce constați în ceea ce privește poziția lor.</li>
        </ol>
        <div class="lightYellow-background m-t-2">
        <h5 class="titlu-repere orange">
            <span class="iconita">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-labelledby="okIconTitle" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#fff"> 
                <polyline points="4 13 9 18 20 7"/> 
                </svg>
            </span>
            Repere</h5>
            <div class="flex">
                <p class="p-1">Hiatul apare între două vocale alăturate ale aceluiași cuvânt, pronunțate în silabe ca-i-să diferite, ca în cuvântul caisă.</p>
                <span class="caisa"> <img src="/assets/images/lb-romana/p35_caisa.png" /></span>
            </div>

    </div>
    </section>
    <section class="p35-s3 m-t-2">
        <h6 class="titlu-iconita pink">
            <span class="iconita">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0"  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g>
                        <circle fill="#231F20" cx="32" cy="32" r="4"/>
                        <path fill="#231F20" d="M32,0C14.328,0,0,14.328,0,32s14.328,32,32,32s32-14.328,32-32S49.672,0,32,0z M40,40l-22,6l6-22l22-6   L40,40z"/>
                    </g>
                </svg>
            </span>
            Aplicații</h6>
        <ol class="pink">
            <li>
                <p>Transcrie următoarele cuvinte în caiet. Desparte în silabe cuvintele plurisilabice și încercuiește diftongii, punând semnul specific deasupra fiecărei semivocale.</p>
                <ul class="pink inline">
                    <li>cai</li>
                    <li>fier</li>
                    <li>gutui</li>
                    <li>iulie</li>
                    <li>leac</li>
                    <li>moară</li>
                    <li>noroi</li>
                    <li>pâine</li>
                    <li>piață</li>
                    <li>râu</li>
                </ul>
            </li>
            <li>Precizează care dintre diftongii identificați la exercițiul <b class="red">1</b> sunt ascendenți și care sunt descendenți.</li>
            <li>Desparte în silabe cuvintele: <i>aripioară, lăcrămioară, leoarcă, maiou, vreau, zgripțuroaică.</i> Încercuieștetriftongii și pune deasupra fiecărei semivocale semnul specific.</li>
            <li>Identifică vocalele în hiat din cuvintele: <i>arie, câmpie, ființă, folie, liliac, poet, radio, real, vietate.</i></li>
            <li>
                <p>Transcrie tabelul de mai jos în caiet și completează-l corespunzător, folosind cuvintele din seria dată.</p>
                <ul class="pink inline">
                    <li>aer </li>
                    <li>băiat</li>
                    <li>cuier</li>
                    <li>cleioase</li>
                    <li>dădeau</li>
                    <li>iubire</li>
                    <li>junior</li>
                    <li>pleoapă</li>
                    <li>poet</li>
                    <li>proiect</li>
                    <li>suiau</li>
                    <li>zoolog</li>
                </ul>
                <table>
                    <tr>
                        <th>Cuvinte care conțin diftong</th >
                        <th >Cuvinte care conțin triftong</th >
                        <th >Cuvinte care conțin vocale în hiat</th >
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </li>
            <li>Ce fel de diftongi sunt cei identificați la exercițiul anterior?</li>
            <li>
                <div class="flex">
                    <div>
                        <p>Precizează diftongii și triftongii din versurile de mai jos. „Aruncarea suliței</p>
                        <p>Cât e lungul uliței.</p>
                        <p>Cine o aruncă? Vreau,</p>
                        <p>Vreau să știu ca să i-o iau.</p>
                        <p>După vrăbii mâța Miau Da cu unghii: sulițe Lungi cât două ulițe.”</p>
                        <p class="t-i-4">Marin Sorescu, <i>Aruncarea suliţei</i></p>
                    </div>
                    <div>
                        <img src="/assets/images/lb-romana/p35_pisica.jpg" />
                    </div>
                </div>
            </li>
        </ol>
    </section>
    <div class="numar-pagina turquoise">35</div>
</div>