<div class="p-34" [ngClass]="{'': !zoom , 'zoom': zoom}">
    <h2 class="orange titlu-principal">Lecția 15. Diftongul, triftongul, hiatul</h2>
    <section class="p34-s1 flex">
        <div class="chenar">
            <h3 class="titlu-dashed green">
                <span class="iconita">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
                        <path class="st0" d="M9.9,12.3c2.7,0,4.9-2.2,4.9-4.9s-2.2-4.9-4.9-4.9S5,4.7,5,7.4C5.1,10.1,7.3,12.3,9.9,12.3 M9.9,4  c1.9,0,3.6,1.6,3.6,3.6c0,1.9-1.6,3.6-3.6,3.6c-1.9,0-3.6-1.6-3.6-3.6S8,4,9.9,4"/>
                        <path class="st0" d="M13.8,12.1c-0.3,0.3-0.8,0.6-1.2,0.8c2.1,1,3.6,2.9,3.8,5.2h-13c0.3-2.3,1.7-4.3,3.8-5.2  c-0.4-0.3-0.9-0.5-1.2-0.8c-2.3,1.3-3.8,3.8-3.8,6.7v0.6h15.5v-0.6C17.7,16,16.1,13.4,13.8,12.1"/>
                        </svg>
                </span>
                Pentru început</h3>
            <ol class="green">
                <li>Cum o cheamă pe fetița din ilustrația alăturată? Precizează sunetele care alcătuiesc prenumele ei.</li>
                <li>Din ce sunete este alcătuit numele și prenumele tău? Dar al colegului tău/ colegei tale de bancă?</li>
            </ol>
        </div>
        <div>
            <img src="/assets/images/lb-romana/p34_01_pentru-inceput.jpg" />
        </div>
    </section>
    <h3 class="turquoise titlu-small m-t-2">Diftongul</h3>
    <section class="p34-s2-1">
        <h4 class="turquoise titlu-iconita"> 
            <span class="iconita">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0"  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g>
                        <circle fill="#231F20" cx="32" cy="32" r="4"/>
                        <path fill="#231F20" d="M32,0C14.328,0,0,14.328,0,32s14.328,32,32,32s32-14.328,32-32S49.672,0,32,0z M40,40l-22,6l6-22l22-6   L40,40z"/>
                    </g>
                </svg>
            </span>
            Explorare</h4>
        <ol class="turquoise">
        <li> Ce fel de sunete transcriu literele colorate din cea de-a doua silabă a cuvântului <i>păianjen</i>?<strong class="highlight lightYellow-background p-x-2 p-y-1">pă-<span class="red">i</span><span class="blue">a</span>n-jen</strong></li>
        <li>Unde se află vocala în raport cu semivocala în cuvântul vai? Dar în a doua silabă a cuvântului <i>păianjen</i>?</li>
        <li>Care este vocala și care este semivocala din cuvântul <i>biet?</i></li>
        <li>Precizează dacă în cuvântul <i>geam</i> există un grup alcătuit dintr-o semivocală și o vocală sau doar o vocală.</li>
        <li>Câte sunete se aud atunci când pronunți verbul <i>e</i>? Ce fel de sunete sunt acestea?</li>
        </ol>
    </section>

    <div class="zoomedContent">
        <app-p34-repere (zoomIn)="onzoomIn()"></app-p34-repere>
        <button class="button turquoise" *ngIf="zoom" (click)="goBack()"><i class="fa fa-arrow-left"></i> Inapoi</button>
    </div>

    <h6 class="turquoise titlu-small m-t-2">Triftongul</h6>
    <section class="p34-s3">
        <h4 class="turquoise titlu-iconita">
            <span class="iconita">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0"  viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <g>
                        <circle fill="#231F20" cx="32" cy="32" r="4"/>
                        <path fill="#231F20" d="M32,0C14.328,0,0,14.328,0,32s14.328,32,32,32s32-14.328,32-32S49.672,0,32,0z M40,40l-22,6l6-22l22-6   L40,40z"/>
                    </g>
                </svg>
            </span>
            Explorare</h4>
        <ol class="turquoise">
            <li>Precizează din câte silabe este alcătuit cuvântul <i>tigroaică</i> și felul sunetelor din care este alcătuită fiecare dintre acestea.</li>
            <li>Desparte în silabe cuvântul <i>leoaică</i>. Din ce fel de sunete este alcătuită a doua <i>silabă?</i></li>
            <li>Notează, în caiet, câte un cuvânt care să conțină, într-o silabă, următoarele grupuri de sunete: <i>eoa</i> și<i> iai</i>.</li>
            <li>Câte sunete auzi atunci când pronunți pronumele personal <i>eu</i>? Ce fel de sunete sunt fiecare dintre acestea?</li>
            <li>Precizează din câte silabe este alcătuit grupul de cuvinte <i>te-ai</i> și ce tipuri de sunete (vocale, semivocale, consoane) intră în componența sa.</li>
        </ol>
    </section>
    <div class="numar-pagina turquoise">34</div>
</div>