<section class="p34-s2-2 lightYellow-background" (click)="onZoomIn()">
    <h5 class="titlu-repere orange">
        <span class="iconita">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-labelledby="okIconTitle" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#fff"> 
               <polyline points="4 13 9 18 20 7"/> 
            </svg>
        </span>
        Repere</h5>
        <div class="p-1">
            <p><b class="orange">Diftongul</b> este grupul de sunete alcătuit dintr-o vocală și o semivocală, pronunțate în aceeași silabă.</p>
            <div class="flex">
                <div class="m-r-4">
                    <p>Diftongul este <b class="orange">urcător</b> sau <b class="orange">ascendent</b> când este alcătuit dintr-o semivocală și o vocală, aflate în această succesiune, ca în cuvântul <i>fl<b class="orange">oa</b>-re.</i></p>
                    <p>Diftongul este <b class="orange">coborâtor</b> sau <b class="orange">descendent</b> când este alcătuit dintr-o vocală și o semivocală, aflate în această succesiune, ca în cuvântul <i>m<b class="orange">âi</b>-ne.</i></p>    
                </div>
                <div class="imagini-coloana">
                    <img src="/assets/images/lb-romana/p34_maine.png">
                    <img src="/assets/images/lb-romana/p34_floare.png">
                </div>
            </div>


            <p>Când grupurile de litere <i>ce, ci, ge, gi, che, chi, ghe, ghi</i> se află înaintea unei vocale, nu formează, de obicei, diftongi. De exemplu, în cuvântul ceas există consoana [č], vocala [a] și consoana [s], iar în cuvântul <i>gheață</i>, prima silabă este alcătuită din consoana [g’] și vocala [a].</p>
            <p>În unele forme ale verbului <i>a fi (este, e, eram</i> etc.) și în pronumele personale <i>el, ele</i>, litera inițială <i>e</i> se pronunță cu diftongul [<i>ĭe</i>].</p>
        </div>
</section>